{% extends "base.html" %}

{% block head_title %}{{ _("Page not found") }} – {{ app_name }}{% endblock %}

{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>404</h1>
          <span class="subheading">{{ _("This page doesn't exist") }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto post-content text-center">
        <p>{{ _("The page you were looking for may have been moved, renamed, or never existed.") }}</p>
        <a href="{{ url_for('home_page') }}" class="btn btn-primary">{{ _("Back to homepage") }}</a>
      </div>
    </div>
  </div>
</article>
{% endblock %}
